<?php
/** @var Imoje\Blik\Block\Checkout $block */

if($block->isCodeField()) {

	$acceptTip1 = __('Now accept your payment in bank application.');
	$acceptTip2 = __('You will be informed via e-mail about it end status, or you can check your payment status later.');

    $failureTip1 = __('Unable to complete your payment request.');
    $failureTip2 = __('Try again later or contact with shop staff.'); ?>

    <style>

        .step-title {
            padding-bottom: 10px;
            color: #333;
            font-weight: 300;
            font-size: 2.6rem;
        }


        #blik_code {
            width: 230px;
        }

        #blik_submit {
            margin-bottom: 3.2px;

        }

        #content_blik_code {
            padding: .9375rem;
        }

        #modal_processing {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 50000;
            background: rgba(0, 0, 0, .5)
        }

        #modal_processing-content {
            background: #fbfbfb none;
            border: 1px solid #d6d4d4;
            border-radius: 4px;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
            color: black;
            padding: 20px;
        }
    </style>

    <section class="clearfix" style="display:block">
        <div id="content_blik_code">
            <div class="step-title"><?= __('Insert BLIK code') ?></div>

            <label for="blik_code" class="">
            </label>
            <div class="body">

                <input placeholder="BLIK code..." id="blik_code" class="form-control" type="text" name="blik_code"
                       required autocomplete="off" maxlength="6">
                <button id="blik_submit" class="action primary disabled" disabled type="submit">
                    <span><?= __('Pay') ?></span>
                </button>
            </div>
            <br/>
        </div>

        <div id="modal_processing">
            <div id="modal_processing-content">
                <span id="payment_tip">
                    <?= __('Please wait, payment is processing.') ?>
                </span>
            </div>
        </div>
    </section>
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function (event) {

            require(['jquery'], function ($) {

                (function () {

                    var $blikCode = $("#blik_code"),
                        $blikSubmit = $('#blik_submit'),
                        $contentBlikCode = $('#content_blik_code'),
                        $modalProcessing = $('#modal_processing'),
                        isSubmitted = false;

                    if (!isSubmitted) {

                        $blikCode.on('input', function () {
                            if ($blikCode.val().length === 6) {
                                $blikSubmit.removeClass('disabled');
                                $blikSubmit.removeAttr("disabled");
                            } else {
                                disableBlikSubmit();
                            }
                        });
                    }

                    $blikSubmit.on('click', function () {
                        disableBlikSubmit();
                        isSubmitted = true;
                        $('#modal_processing').show();
                        processForm($blikCode.val());
                    });

                    function disableBlikSubmit() {
                        $blikSubmit.addClass('disabled');
                        $blikSubmit.attr("disabled", true);
                    }

                    function processForm() {

                        var $blickCodeVal = $blikCode.val();

                        $.ajax({
                            method: "POST",
                            url: "<?= $block->getBaseUrl() . 'imoje_blik/payment/checkout' ?>",
                            data: {
                                "blikCode": $blickCodeVal ? $blickCodeVal : 1
                            }
                        })

                            .done(function (response) {
                                var jsonParse = JSON.parse(response);
                                if (typeof jsonParse === "object" && jsonParse.status) {
                                    $contentBlikCode.html('<?= $acceptTip1 ?> <br/><br/> <?= $acceptTip2 ?>')

                                    return;
                                }
                                $contentBlikCode.html('<?= $failureTip1 ?> <br/><br/> <?= $failureTip2 ?>')

                            })
                            .fail(function () {
                                $contentBlikCode.html('<?= $failureTip1 ?> <br/><br/> <?= $failureTip2 ?>')
                            })
                            .always(function () {
                                $modalProcessing.hide()
                            });
                    }
                })()
            });
        });
    </script>

<?php } else {

	echo __('Please wait, in the next step you will choose a payment method.');

	?>
    <br/>
    <br/>

	<?= $block->renderForm() ?>

    <script type="text/javascript">
        document.getElementById('submit-payment-form').click();
    </script>

<?php } ?>


