<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">

	<style>
		.payment-icon {
			max-height:25px;
		}
	</style>

	<div class="payment-method-title field choice">
		<input type="radio"
		       name="payment[method]"
		       class="radio"
		       data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
		<label data-bind="attr: {'for': getCode()}" class="label">

			<!-- ko if: getPaymentLogoSrc() -->
			<img class="payment-icon" data-bind="attr: {src: getPaymentLogoSrc(), alt: getTitle()}"/>
			<!-- /ko -->

			<span data-bind="text: getTitle()"></span>
		</label>
	</div>

	<div class="payment-method-content">
		<!-- ko foreach: getRegion('messages') -->
		<!-- ko template: getTemplate() --><!-- /ko -->
		<!--/ko-->
		<div class="payment-method-billing-address">
			<!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>

		<div class="checkout-agreements-block">
			<!-- ko foreach: $parent.getRegion('before-place-order') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
			<!--/ko-->
		</div>

		<div class="actions-toolbar">
			<div class="primary">
				<button class="action primary checkout imoje-button"
				        type="submit"
				        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
				        disabled>
					<span data-bind="i18n: 'Place Order'"></span>
				</button>
			</div>
		</div>
	</div>
</div>
